 p {
  font-size: 20px;
  color:darkblue;
  }
 ul {
   color: darkblue;
 }
 
 span {
   flex-direction: row;
 }

 head {
     background-image: url("..img/firstview.jpeg") no-repeat bottom;
     background-size: 1000px;
     width: 1000px;
}
  flex-container {
    flex-direction: row;
 }
 div {
     color: black;
     font-size: 40px;
     border-bottom: 20px solid darkblue;
 }